# dependencies
node_modules/

# dotenv environment files
.env

# OS-specific files
.DS_Store

# logs
logs
*.log
npm-debug.log*

# Optional build artifacts
dist/
build/

# Optional: VSCode config
.vscode/
