@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; 

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 


}

.menu-select {
  position: relative;
  width: 30px; 
  height: 30px;
  opacity: 0;           /* hide the real select completely */
  cursor: pointer;
}

.menu-wrapper {
  position: relative;
  display: inline-block;
}

.menu-wrapper::after {
  content: "⋮";         /* 3-dot menu icon */
  font-size: 20px;
  color: white;
  position: absolute;
  top: -2px;
  right: 0;
  pointer-events: none; /* click goes to the select below */
}
